h1 {
  text-align: center;
  text-decoration: double;
  color: rgb(17, 17, 17);
  background-color: #35e7ff;
  border-radius: 20%;
  border: 2px solid gray; 
  margin: 20px auto; 
  width: 50%; 
  font-size: 1.5em; 
  box-shadow: 2px 2px 5px #3a3939; 
  padding: 10px; 
}
